<div class="text-center">
  <h1>プロフィール編集ページ</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@user) do |f| %>

      <div class="form-group">
        <%= f.label :email, 'Eメール' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="birth_date_field">
        <%= f.label :bitrhdate, '生年月日' %>
        <%= f.date_select(
                :birthdate, 
                start_year: 1930,
                end_year: (Time.now.year),
                defaupt: Date.new(1989, 1, 1),
                date_separator:  '/') %>
      </div>

      <div class="form-group">
        <%= f.label :sex, '性別' %>
        <%= f.select :sex, User.sexes_i18n.keys.map {|k| [User.sexes_i18n[k], k]} %>
      </div>

      <div class="form-group">
        <%= f.label :school, '学校名' %>
        <%= f.text_field :school, class: 'form-control' %>
      </div>


      <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>